img{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.artikel{
  position: absolute ;
  z-index: 2;
  background-color: white;
  text-align: right;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  padding: 2px;
  margin-left: 700px;
  margin-top: 5px;

}
